.task {
    padding: 16px;
    border-bottom: 2px solid #3F72AF;
}
.task__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.task__title-taskName {
    font-weight: 500;
    line-height: 20px;
    color: black;
}

.task__title-categoryName {
    color: #3F72AF;
    display: flex;
    align-items: center;
    gap: 4px;
}

.task__title-categoryName::before {
    content: url('../../images/icons/folderIcon.svg');
    width: 24px;
    height: 18px;
}

.task__description {
    line-height: 20px;
}

.task__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: -20px;
}

.task__buttons-button {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.task__buttons-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
